<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Adventurer Calculator</title>
</head>
<body>
<h2>Welcome</h2>
<div th:switch="${class}">
  <h3 th:case="'D'" th:text="${'the power is ' + power}">to the guild</h3>
  <h3 th:case="*" th:text="${'the power is ' + power + ' ' + class + ' class'}">to the guild</h3>
</div>

</body>
</html>